services:
  jasperdb:
    image: mariadb:latest
    environment:
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - MARIADB_DATABASE=${MARIADB_DATABASE}
      - MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=yes
    volumes:
      - 'jasperdb_data:/var/lib/mysql'

  jrs:
    image: gach24/jasper-report-server
    ports:
      - '8080:8080'
      - '8443:8443'
    environment:
      - MARIADB_HOST=jasperdb
      - MARIADB_PORT_NUMBER=3306
      - JASPERREPORTS_DATABASE_USER=${MARIADB_USER}
      - JASPERREPORTS_DATABASE_PASSWORD=${MARIADB_PASSWORD}
      - JASPERREPORTS_DATABASE_NAME=${MARIADB_DATABASE}
      - JASPERREPORTS_USERNAME=${JASPERREPORTS_USERNAME}
      - JASPERREPORTS_PASSWORD=${JASPERREPORTS_PASSWORD}
    volumes:
      - 'jrs_data:/bitnami/jasperreports'
    depends_on:
      - jasperdb
    extra_hosts:
      - "host.docker.internal:host-gateway"

  sakiladb:
    image: mariadb:latest
    environment:
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_DATABASE=sakila
      - MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=yes
    volumes:
      - 'sakiladb_data:/var/lib/mysql'
      - './sakila-maria:/docker-entrypoint-initdb.d'
    ports:
      - '3306:3306'

volumes:
  jrs_data:
    driver: local
  jasperdb_data:
    driver: local
  sakiladb_data:
    driver: local
